function BoyGame.new 2
push constant 8
call Memory.alloc 1
pop pointer 0
push constant 0
pop local 0
push constant 0
pop local 1
label WHILE_EXP0
push local 0
push constant 3
lt
not
if-goto WHILE_END0
label WHILE_EXP1
push local 1
push constant 8
lt
not
if-goto WHILE_END1
push constant 100
call Sys.wait 1
pop temp 0
push this 4
push constant 2
push local 0
call Math.multiply 2
push local 1
push constant 1024
call Math.multiply 2
add
call Stone.drawStart 2
pop temp 0
push this 4
push constant 2
push constant 15
push local 0
sub
call Math.multiply 2
push local 1
push constant 1024
call Math.multiply 2
add
call Stone.drawStart 2
pop temp 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push local 0
push constant 1
add
pop local 0
push constant 0
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
pop this 0
call Boy.new 0
pop this 1
push constant 16
call Array.new 1
pop this 2
push constant 0
pop this 5
label WHILE_EXP2
push this 5
push constant 3
lt
not
if-goto WHILE_END2
push this 5
push this 2
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 5
push constant 1
add
pop this 5
goto WHILE_EXP2
label WHILE_END2
label WHILE_EXP3
push this 5
push constant 13
lt
not
if-goto WHILE_END3
push this 5
push this 2
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 5
push constant 1
add
pop this 5
goto WHILE_EXP3
label WHILE_END3
label WHILE_EXP4
push this 5
push constant 15
lt
not
if-goto WHILE_END4
push this 5
push this 2
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 5
push constant 1
add
pop this 5
goto WHILE_EXP4
label WHILE_END4
push constant 3
pop this 6
push constant 0
pop this 7
push constant 32
call Array.new 1
pop this 3
push constant 0
push this 3
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 3
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 3
add
push constant 10
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 3
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push this 3
add
push constant 7
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push this 3
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push this 3
add
push constant 10
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push this 3
add
push constant 5
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push this 3
add
push constant 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push this 3
add
push constant 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push this 3
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push this 3
add
push constant 7
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push this 3
add
push constant 12
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push this 3
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push this 3
add
push constant 10
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push this 3
add
push constant 11
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
push this 3
add
push constant 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 17
push this 3
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 18
push this 3
add
push constant 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 19
push this 3
add
push constant 5
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 20
push this 3
add
push constant 11
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 21
push this 3
add
push constant 9
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 22
push this 3
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 23
push this 3
add
push constant 12
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 24
push this 3
add
push constant 9
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 25
push this 3
add
push constant 11
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 26
push this 3
add
push constant 5
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 27
push this 3
add
push constant 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 28
push this 3
add
push constant 9
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 29
push this 3
add
push constant 7
pop temp 0
pop pointer 1
push temp 0
pop that 0
push pointer 0
return
function BoyGame.dispose 0
push argument 0
pop pointer 0
push this 1
call Boy.dispose 1
pop temp 0
push this 4
call Stone.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function BoyGame.moveBoy 3
push argument 0
pop pointer 0
push this 6
push this 2
add
pop pointer 1
push that 0
pop this 7
push this 0
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 6
push constant 1
add
pop local 2
push local 2
push this 2
add
pop pointer 1
push that 0
pop local 0
push this 7
push local 0
sub
pop local 1
push local 1
push constant 1
neg
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 1
call Boy.moveUpRight 1
pop temp 0
push this 6
push constant 1
add
pop this 6
label IF_FALSE1
label IF_FALSE0
push this 0
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 6
push constant 1
sub
pop local 2
push local 2
push this 2
add
pop pointer 1
push that 0
pop local 0
push this 7
push local 0
sub
pop local 1
push local 1
push constant 1
neg
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 1
call Boy.moveUpLeft 1
pop temp 0
push this 6
push constant 1
sub
pop this 6
label IF_FALSE3
label IF_FALSE2
push this 0
push constant 3
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 6
push constant 1
sub
pop local 2
push local 2
push this 2
add
pop pointer 1
push that 0
pop local 0
push this 7
push local 0
sub
pop local 1
push local 1
push constant 1
neg
gt
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push local 2
pop this 6
push this 1
push local 1
call Boy.moveLeft 2
pop temp 0
label IF_FALSE5
label IF_FALSE4
push this 0
push constant 4
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push this 6
push constant 1
add
pop local 2
push local 2
push this 2
add
pop pointer 1
push that 0
pop local 0
push this 7
push local 0
sub
pop local 1
push local 1
push constant 1
neg
gt
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push local 2
pop this 6
push this 1
push local 1
call Boy.moveRight 2
pop temp 0
label IF_FALSE7
label IF_FALSE6
push constant 5
call Sys.wait 1
pop temp 0
push constant 0
return
function BoyGame.run 9
push argument 0
pop pointer 0
push constant 0
pop local 7
push constant 0
pop local 0
label WHILE_EXP0
push local 7
not
not
if-goto WHILE_END0
label WHILE_EXP1
push local 6
push constant 0
eq
not
if-goto WHILE_END1
call Stone.new 0
pop this 4
push this 4
push constant 2
push local 0
push this 3
add
pop pointer 1
push that 0
call Math.multiply 2
push constant 1
call Stone.draw 3
pop temp 0
push constant 15
call Sys.wait 1
pop temp 0
push constant 8
pop local 4
push constant 2
push local 0
push this 3
add
pop pointer 1
push that 0
call Math.multiply 2
pop local 5
push local 0
push this 3
add
pop pointer 1
push that 0
pop local 3
push local 3
push this 2
add
pop pointer 1
push that 0
pop local 1
label WHILE_EXP2
push local 4
push local 1
push constant 1
add
gt
not
if-goto WHILE_END2
push local 4
push local 1
push constant 2
add
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 6
push local 3
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
call Screen.clearScreen 0
pop temp 0
push constant 11
push constant 23
call Output.moveCursor 2
pop temp 0
push constant 12
call String.new 1
push constant 103
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 40
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 1000
call Sys.wait 1
pop temp 0
push constant 0
not
pop local 7
label IF_FALSE1
push local 3
push this 2
add
pop pointer 1
push that 0
pop local 2
push local 2
push constant 1
add
pop local 2
push local 3
push this 2
add
push local 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE0
push this 6
push this 2
add
pop pointer 1
push that 0
pop this 7
push this 7
push constant 6
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
call Screen.clearScreen 0
pop temp 0
push constant 11
push constant 23
call Output.moveCursor 2
pop temp 0
push constant 9
call String.new 1
push constant 121
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 119
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 33
call String.appendChar 2
push constant 33
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 1000
call Sys.wait 1
pop temp 0
push constant 0
not
pop local 7
label IF_FALSE2
push local 7
not
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
pop local 8
push this 4
push local 5
push constant 0
call Stone.draw 3
pop temp 0
push this 4
push local 5
push constant 1024
add
push constant 1
call Stone.draw 3
pop temp 0
label WHILE_EXP3
push local 8
push constant 20
lt
not
if-goto WHILE_END3
call Keyboard.keyPressed 0
pop local 6
push local 6
push constant 0
eq
not
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 200
call Sys.wait 1
pop temp 0
push local 6
push constant 131
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 1
pop this 0
label IF_FALSE5
push local 6
push constant 133
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 2
pop this 0
label IF_FALSE6
push local 6
push constant 130
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 3
pop this 0
label IF_FALSE7
push local 6
push constant 132
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push constant 4
pop this 0
label IF_FALSE8
push pointer 0
call BoyGame.moveBoy 1
pop temp 0
push constant 2
call Sys.wait 1
pop temp 0
label IF_FALSE4
push constant 10
call Sys.wait 1
pop temp 0
push local 8
push constant 1
add
pop local 8
goto WHILE_EXP3
label WHILE_END3
push local 5
push constant 1024
add
pop local 5
push local 4
push constant 1
sub
pop local 4
label IF_FALSE3
goto WHILE_EXP2
label WHILE_END2
push local 0
push constant 1
add
pop local 0
push local 0
push constant 30
eq
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push constant 5
call Sys.wait 1
pop temp 0
push constant 0
pop local 0
label IF_FALSE9
call Keyboard.keyPressed 0
pop local 6
push constant 2
call Sys.wait 1
pop temp 0
goto WHILE_EXP1
label WHILE_END1
push local 6
push constant 131
eq
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push constant 1
pop this 0
label IF_FALSE10
push local 6
push constant 133
eq
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push constant 2
pop this 0
label IF_FALSE11
push local 6
push constant 130
eq
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
push constant 3
pop this 0
label IF_FALSE12
push local 6
push constant 132
eq
if-goto IF_TRUE13
goto IF_FALSE13
label IF_TRUE13
push constant 4
pop this 0
label IF_FALSE13
push local 6
push constant 0
eq
not
if-goto IF_TRUE14
goto IF_FALSE14
label IF_TRUE14
push constant 200
call Sys.wait 1
pop temp 0
call Keyboard.keyPressed 0
pop local 6
push pointer 0
call BoyGame.moveBoy 1
pop temp 0
label IF_FALSE14
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
